<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</head>
<body>
  <% for(let key in htmlWebpackPlugin){ %>
    <%= key %> : <%= JSON.stringify(htmlWebpackPlugin[key]) %>
  <% } %>

  <script src="<%= htmlWebpackPlugin.files.chunks.hello.entry %>"></script>
</body>
</html>